<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183995815463-pq1068gcdcce7pbf50foo97bkep6f83e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183995815463-pq1068gcdcce7pbf50foo97bkep6f83e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183995815463-igsujgq2lriudgb1mjcs4tf8vttqlsa8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBolAWnGhoNOX-w8EBWIZvW_BQJc4zJuVc</string>
	<key>GCM_SENDER_ID</key>
	<string>183995815463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppMobile</string>
	<key>PROJECT_ID</key>
	<string>coffee-chat-84cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-chat-84cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183995815463:ios:ff210bb07b268588fee002</string>
</dict>
</plist>